<div class="center-content">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Projeto O<sub><small>2</small></sub></mat-card-title>
      <mat-card-subtitle>Login / Cadastro</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Login">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Cadastro">
          <app-cadastro></app-cadastro>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>
</div>
