<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Projeto O<sub><small>2</small></sub></mat-card-title>
      <mat-card-subtitle>Login / Cadastro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Login">

          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="exemplo@exemplo.com" value="">
            <button mat-icon-button matSuffix>
              <mat-icon>alternate_email</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-raised-button color="primary">Entrar</button>
        </mat-tab>

        <!--------------------------------------------------------Cadastro-------------------------------------------------------->

        <mat-tab label="Cadastro">

          <form (ngSubmit)='adicionarUsuario()' [formGroup]="firstFormGroup">
          <div class="example-table-container">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
<!-----------------------------------------------Dados Pessoais----------------------------------------------->
            <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Dados pessoais</ng-template>

                <mat-form-field class="example-full-width">
                  <mat-label>Nome</mat-label>
                  <input matInput formControlName="nome" placeholder="Digite o seu nome completo" required>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.nome">
                    <p [innerHTML]="displayMessage.nome"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Telefone</mat-label>
                  <input matInput formControlName="telefone" placeholder="Digite o seu telefone" telefone
                  [textMask]="{mask: MASKS.telefone.textMask}" required>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-hint>*Campo obrigatório / Inclua o código de área (DDD)</mat-hint>
                  <mat-error *ngIf="displayMessage.telefone">
                    <p [innerHTML]="displayMessage.telefone"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Data de nascimento</mat-label>
                  <input matInput formControlName="dataNascimento" [matDatepicker]="picker" placeholder="Digite ou selecione a data" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.dataNascimento">
                    <p [innerHTML]="displayMessage.dataNascimento"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Gênero</mat-label>
                  <input matInput formControlName="genero" placeholder="Digite o seu gênero" required>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.genero">
                    <p [innerHTML]="displayMessage.genero"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" formControlName="email" placeholder="Digite o seu email" required>
                  <button mat-icon-button matSuffix>
                    <mat-icon>alternate_email</mat-icon>
                  </button>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.email">
                    <p [innerHTML]="displayMessage.email"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Senha</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.senha">
                    <p [innerHTML]="displayMessage.senha"></p>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Confirme a Senha</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="senhaConfirm">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>*Campo obrigatório</mat-hint>
                  <mat-error *ngIf="displayMessage.senhaConfirm">
                    <p [innerHTML]="displayMessage.senhaConfirm"></p>
                  </mat-error>
                </mat-form-field>
                <br><br>

                <div>
                  <button button mat-raised-button color="primary"matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>
            <!-----------------------------------------------Dados Profissionais----------------------------------------------->
            <!-- <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Dados profissionais</ng-template>
                <mat-form-field>
                  <mat-label>Profissão</mat-label>
                  <input matInput formControlName="profissao" placeholder="Ex. 1 Main St, New York, NY"
                  required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step> -->
            <!-----------------------------------------------Localidade----------------------------------------------->
            <!-- <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Localidade</ng-template>
                <mat-form-field>
                  <mat-label>CEP</mat-label>
                  <input matInput formControlName="cep" cep [textMask]="{mask: MASKS.cep.textMask}" placeholder="Digite o seu CEP"
                  required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step> -->
            <!-----------------------------------------------Concluir----------------------------------------------->
            <mat-step>
              <ng-template matStepLabel>Concluir</ng-template>
              <p>Formulario valido: {{ firstFormGroup.valid }}</p>
              <p>Formulario tocado: {{ firstFormGroup.touched }}</p>
              <p>Formulario sujo: {{ firstFormGroup.dirty }}</p>
              <p>Formulario: {{ formResult }}</p>
              <div>
                <button mat-raised-button color="primary" [disabled]="!firstFormGroup.valid"
                    type="submit">Registrar</button><br>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </form>

        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>
