.example-card {
  max-width: 80%;
  max-height: 100%;
  background-color: #FFF;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.example-card h3 {
  margin: 0;
}

.example-full-width {
  margin-top: 10px;
  width: 80%;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.mat-raised-button {
  margin-top: 10px;
  width: 52%;
}

.menor{
  width: 30%;
  margin: 10px;
}

.mat-card-header {
  justify-content: center;
}

.example-table-container {
  position: relative;
  align-items: center;
  min-height: 200px;
  max-height: 400px;
  min-width: 80vw;
  overflow: auto;
}

.deslocamento {
  width: 80%;
  padding-top: 10px;
  margin: auto;
  border: 1px solid grey;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}
